body {
  font-size: 17px;
  margin: 0;
}

.header {
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.header h1 {
  padding-top: 144px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 58px;
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces";
  font-size: 43px;
}

.nav-bar {
  padding-top: 31px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
}

.contact-section {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 105px;
  left: 20px;
  display: none;
}

.active {
  display: block;
}

.contact-section li a {
  text-decoration: none;
  font-size: 17px;
  font-family: "Barlow";
  font-weight: 600;
  display: block;
  margin-top: 30px;
  color: #848290;
}

.contact-section li button:hover {
  background-color: yellow;
}

.contact-section .contact {
  margin-bottom: 30px;
}

.contact-section ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arrow {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: hsl(0, 0%, 100%);
}

.arrow .fa-solid {
  margin-bottom: 130px;
}

.content img {
  width: 100%;
  margin-bottom: 72px;
}

.text {
  text-align: center;
  font-family: "Barlow";
}

.text h2 {
  margin: 0;
  font-family: "Fraunces";
  font-weight: 900;
  padding: 0 56px;
  margin-bottom: 42px;
}

.text p {
  margin: 0;
  padding: 0 33px;
  color: hsl(232, 10%, 55%);
  line-height: 1.5;
  margin-bottom: 42px;
}

.content a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Fraunces";
  color: black;
  display: block;
  margin-bottom: 71px;
}

.content-image {
  text-align: center;
  padding-top: 405px;
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  color: hsl(167, 40%, 24%);
}

.content-image h2 {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Fraunces";
  font-weight: 900;
}

.content-image .description {
  margin: 0;
  font-family: "Barlow";
  padding: 0 22px;
  padding-bottom: 66px;
  font-size: 16px;
  line-height: 1.5;
}

.photography {
  background-image: url(/images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center;
  color: hsl(198, 62%, 26%);
}

.testimonials-section {
  text-align: center;
  font-family: "Barlow";
  color: hsl(213, 9%, 39%);
}

.testimonials-section img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin-bottom: 42px;
}

.testimonials-section h2 {
  margin-top: 67px;
  margin-bottom: 67px;
  font-family: "Fraunces";
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  font-size: 18px;
  letter-spacing: 4px;
}

.testimonials-section p {
  margin: 0;
  padding: 0 42px;
  line-height: 1.5;
  margin-bottom: 46px;
}

.testimonials-section h3 {
  margin: 0;
  margin-bottom: 10px;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces";
  font-weight: 900;
}

.testimonials-section span {
  margin-bottom: 70px;
  display: block;
  color: hsl(210, 4%, 67%);
  font-size: 15px;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-wrapper img {
  max-width: 100%;
  height: 100%;
}

.footer-content {
  background-color: #90d4c5;
}

.footer-logo {
  text-align: center;
  padding-top: 64px;
  margin-bottom: 46px;
}

.footer-about {
  display: flex;
  justify-content: space-around;
  margin-bottom: 92px;
}

.footer-about a {
  text-decoration: none;
  font-family: "Barlow";
  color: #4a8e7f;
}

.footer-media {
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px 80px 40px;
}
